/* COLOR PALETTE:
--air-superiority-blue: #70a6caff;
--blue-gray: #6f9bcdff;
--united-nations-blue: #6d91cfff;
--glaucous: #6c86d2ff;
--glaucous-2: #6a7bd4ff; */

body{
  background-color: #6d91cfff;
}

#welcomePage{
  text-align: center;
  margin:10px;
  padding-top: 10em;
  padding-bottom: 10em;
}
#welcomePage .btn{
  background-color: white;
  text-align: center;
}

#welcomePage2{
  padding-top: 14vh;
  text-align: center;
}
#welcomePage2 h4{
  padding: 1vh;
}

/* NAVBAR */
.navbar-nav { 
  flex-direction: row;
  font-size: 2vw;
}
.nav-item {
  padding-right:1.35em;
  padding-left:1.35em;
}
.dropdown-menu{
  left:4vw;
  min-width: inherit;
}
.dropdown-item{
  font-size:1.5vw;
  text-align: center;
}
.navbar {
  background-color: #6a7bd4ff;
}
.nav.navbar-nav ul {
  align-items: center;
}
.nav.navbar-nav li a {
  color: darkslateblue;
  font-size: 25px;
  font-family: sans-serif;
}
#navhead{
  font-size: 3vw;
}