/* --air-superiority-blue: #70a6caff;
--blue-gray: #6f9bcdff;
--united-nations-blue: #6d91cfff;
--glaucous: #6c86d2ff;
--glaucous-2: #6a7bd4ff; */

body {
  background-color: #6d91cfff;
  text-align: center;
}
